body{
    background-color: rgb(53, 204, 227);
}
h2,p{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 12;
    font-family: 'Courier New', Courier, monospace;
}
header{
    background-color: #186dff;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header h1{
    color: white;
    font-size: 32;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
ul li{
    font-size: 12;
    font-family: 'Courier New', Courier, monospace;
}
.Eder{
    text-align: center;
}
.Eder img{
    border-radius: 50%;
}
div ul{
    font-size: 12;
    font-family: 'Courier New', Courier, monospace; 
}

.sobre{
    padding-top: 5%;
}

footer a{
    word-spacing: 20%;
}
